<!--Informacion-->

<div class=" container text-white jumbotron sensor1 " style="background: #039b73; margin-top: 20px;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05cd99, #039b73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05cd99, #039b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
       <h2 class="d-flex justify-content-center">Presión Arterial</h2>
       <hr>
       <p class="lead d-none d-sm-block">  La presión arterial es la presión de la sangre en las arterias cuando el corazón la bombea alrededor del cuerpo. Cuando el corazón late, se contrae y empuja la sangre a través de las arterias hacia el resto del cuerpo, esta fuerza crea presión sobre las arterias. La presión arterial se registra con dos números: la presión sistólica (cuando el corazón late) y la presión diastólica (cuando el corazón se relaja entre latidos).</p>
        <a class="botones btn btn-md btn-primary " href="/sensores/sistolica" role="button">Mi presión sistólica &raquo;</a>
        <a class="botones btn btn-md btn-primary " href="/sensores/diastolica" role="button"> Mi presión diastólica &raquo;</a>
        <a class="botones btn btn-md btn-primary " href="/sensores/tension" role="button"> Mi pulso &raquo;</a>
        <a class=" oculto btn btn-md btn-secondary " href="/sensores/presionT" role="button"> Conjunto de gráficas &raquo;</a>
</div>
<div class=" container text-white jumbotron sensor1" style="margin-top: 20px; background: #039b73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05cd99, #039b73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05cd99, #039b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
       <h2 class="d-flex justify-content-center">SPO2</h2>
       <hr>
       <p class="lead d-none d-sm-block"> La oximetría de pulso es un método no invasivo para indicar la saturación de oxígeno arterial de la hemoglobina funcional. La saturación de oxígeno se define como la medición de la cantidad de oxígeno disuelto en la sangre, basada en la detección de hemoglobina y desoxihemoglobina..</p>
        <a class="botones btn btn-md btn-primary" href="/sensores/spo" role="button"> Mi saturación de oxígeno &raquo;</a> 
        <a class="botones btn btn-md btn-primary " href="/sensores/spoo" role="button"> Mi pulso &raquo;</a>
        <a class=" oculto btn btn-md btn-secondary " href="/sensores/spoT" role="button"> Conjunto de gráficas &raquo;</a>

</div>


<div class=" container text-white jumbotron sensor1" style="margin-top: 20px; background: #039b73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05cd99, #039b73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05cd99, #039b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
       <h2 class="d-flex justify-content-center">Flujo de aire</h2>
       <hr>
       <p class="lead d-none d-sm-block"> El sensor de flujo de aire nasal / boca es un dispositivo utilizado para medir la frecuencia respiratoria en un paciente que necesita ayuda respiratoria.</p>
       <a class="botones btn btn-md btn-primary " href="/sensores/airflow" role="button"> Mi flujo de aire &raquo;</a>
</div>


<div class=" container text-white jumbotron sensor1" style="margin-top: 20px; background: #039b73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05cd99, #039b73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05cd99, #039b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
       <h2 class="d-flex justify-content-center">Electrocardiógrafo</h2>
       <hr>
       <p class="lead d-none d-sm-block"> El electrocardiograma (ECG) es una herramienta de diagnóstico que se usa habitualmente para evaluar las funciones eléctricas y musculares del corazón. El sensor utiliza el "electrocardiograma de telemetría continua" para una monitorización prolongada que incluye el uso de tres electrodos de ECG.</p>
       <a class="botones btn btn-md btn-primary " href="/sensores/electro" role="button"> Mi electrocardiograma &raquo;</a>
</div>
