
<!--Vista-->
<div class="d-none d-sm-block">
<h1 class=" titulo d-flex justify-content-center" style="margin-top: 20px; color: #04B486;"> Gráfica del electrocardiograma</h1>
</div>
<div class="container" style="height: 400 px; width: 200 px; margin-top: 20px;">
<canvas id="myChart"></canvas>
</div>
<script>
    var ctx= document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {{#each points}}
                    "{{moment date format="YYYY-MM-DDTHH:mm:ss.SSSZZ"}}"
                    {{#unless @last}},{{/unless}}
                {{/each}}
            ],
            datasets: [
                {
                label: 'Electrocardiograma',
                borderColor: 'rgba(27, 158, 119, 1)',
                backgroundColor: 'rgba(27, 158, 119, 0.03)',
                yAxisID: 'A',
                data: [
                    {{#each points}}
                    {
                        t: "{{moment date format="YYYY-MM-DDTHH:mm:ss.SSSZZ"}}",
                        y: {{value}}
                    }{{#unless @last}},{{/unless}}
                    {{/each}}
                ]}

            ]
        },
        options: {
            elements: {
                point: {
                    radius: 0
                }
            },
            tooltips: {
                mode: 'index',
            },
            legend: {
                position: 'bottom',
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        tooltipFormat: "DD/MM/YYYY HH:mm:ss.SSS",
                        displayFormats: {
                            'hour': 'DD MMM HH:mm',
                            'day': 'MMM DD',
                        }
                    },
                    distribution: 'linear',
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha'
                    }
                }],
                yAxes: [
                
                 {
                    id: 'A',
                    position: 'left',
                    scaleLabel: {
                        display: true,
                        fontColor: 'rgba(27, 158, 119, 1)',
                        labelString: 'Voltios (V)'
                    }
                }
               
                ]
            }
        }
    });
</script>






<!-- Idea de hora (no ha funcionado)

options: {
      scales: {
        xAxes: [ {
            display: true,
            type: 'time',
            time: {
              parser: 'MM/DD/YYYY HH:mm',
              tooltipFormat: 'll HH:mm',
              unit: 'day',
              unitStepSize: 1,
              displayFormats: {
                'day': 'MM/DD/YYYY'
              }
            }
          }
        ],
        yAxis: [

 -->


<!-- CHART EJEMPLO DE VARIAS LINEAS Y VARIOS COLORES
 <script>
        var ctx= document.getElementById("myChart2").getContext("2d");
        var myChart= new Chart(ctx,{
            type:"line",
          data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  }, options:{
                scales:{
                    yAxes:[{
                            ticks:{
                                beginAtZero:true
                            }
                    }]
                }
            }
        });
    </script>

</script> -->
