
<!-- Slider con especificaciones para ocultar en moviles -->
<div id="carouselExampleControls" class="carousel slide d-none d-lg-block" data-ride="carousel">
  <div class="carousel-inner h-50">
    <div class="carousel-item active">
      <img class="d-block w-100"  src="/img/Arduino.jpg" alt="First slide">
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="/img/HWsensor.jpg" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Información -->
<div class=" container text-white jumbotron sensor1" style=" margin-top: 20px; background: #039b73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #05cd99, #039b73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #05cd99, #039b73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
       <h1>Conócenos</h1>
       <hr class="my-4">
       <p class="lead">eSalud es un proyecto de fin de grado de la Universidad de Almería, cuyo objetivo es crear un entorno web desde donde poder monitorizar los datos biomédicos recopilados por el controlador MySignals HW, porporcionando control y seguimiento a personas
         que tengan problemas de salud o que requieran de monitorizaciones periodicas.
       </p>
</div>
