<!-- Le da un estilo a los mensajes -->
{{#if success_msg}}

<div class="alert alert-success" role="alert" style="margin-top: 10px;">
    {{success_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
<spa aria-hidden="true">&times;</span>
  </button>
</div>

{{/if}}