
<!--Estructura del inicio de sesion -->

<div class='row'>
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header text-white">
                <h1>Iniciar Sesión</h1>
            </div>
            <img src="/img/logo.png" class='logo rounded-circle mx-auto d-block m-2' alt="eSalud"> 

            <div class="card-body">
                <form action="/users/singin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>

                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" autofocus>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #04B486;">
                            Acceder
                        </button>

                    </div>
                </form>

            <div class="card-footer">
                <div class="form-group text-white">No tienes cuenta?<a style="color:#04B486;" href="/users/singup">  Únete</a>
            </div>
            </div>
            </div>

        </div>

    </div>
</div>




















<!--
        <div class="col log" > 

            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Inciar Sesión</h3>
                    </div>

                    <img src="" class='logo rounded-circle mx-auto d-block m-4' alt="eSalud"> 

                    <div class="card-body">
                        <form action="/users/singin" method="POST">

                            <div class="input-group form-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>

                                <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                                
                            </div>



                            <div class="input-group form-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>

                               <input type="password" class="form-control" name="password" placeholder="Contraseña" autofocus>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Iniciar sesion" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            No tienes cuenta?<a style="color:#04B486;" href="/users/singup">Únete</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>



    </div>
</div>
-->




















